
---
- hosts: all
  become: true
  tasks:

    - name: remove crontab jobs if any
      shell: "crontab -u vishwa -r"
    - name: remove any containers if exists
      shell: "docker rm -vf $(docker ps -aq) || true"
    - name: remove any docker images if exists
      shell: "docker rmi -f $(docker images -aq) || true"
    - name: docker compose up
      shell: "docker-compose up -d"
    - name: sleep command
      shell: "sleep 30s"
    - name: kill previous logstash instance
      shell: "ps aux | grep -ie /usr/share/logstash/jdk/bin/java | awk '{print $2}' | xargs kill >kill.log 2>&1 &"
    - name: set a crontab job to copy of file from container
      shell: "sh /home/vishwa/job.sh &"
#    - name: kill previous logstash instance
#      shell: "ps aux | grep -ie /usr/share/logstash/jdk/bin/java | awk '{print $2}' | xargs kill >kill.log 2>&1 &"
    - name: run logstash
      shell: "/usr/share/logstash/bin/logstash -f /home/vishwa/pipe.conf >output.log 2>&1 &"
#      async: 10
#      poll: 0


