
---
- hosts: all
  become: true
  tasks:
    - name: remove any containers if exists
      shell: "docker rm -vf $(docker ps -aq) || true"
    - name: remove any docker images if exists
      shell: "docker rmi -f $(docker images -aq) || true"
    - name: docker compose up
      shell: |
        
        "cd /home/vishwa"
        "docker-compose up"

